<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragmentos/fragmento2 :: cabecera('Lista Transportistas')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Lista Transportistas</title>
  </head>
  <body>
    <main>
      <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista de Sitios</h1>
        <div class="d-flex mt-3 mb-4">
          <a class="btn btn-primary" th:href="@{'/shipper/new'}">Nuevo Transportista</a>
          <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
        </div>
        <div class="alert alert-primary" role="alert" th:if="${msg != null}" th:text="${msg}">
          A simple primary alert—check it out!
        </div>
        <form method="post" th:action="@{/shipper/BuscarTransportistas}">
          <input name="searchField" class="form-control mb-3" type="text" placeholder="Search"/>
        </form>
        <table class="table">
          <tr>
            <th>Locación</th>
            <th>Fecha de Instalación</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th></th>
            <th></th>
          </tr>
          <tr th:each="sitio : ${listaSitios}">
            <td th:text="${sitio.getSiteName()}"></td>
            <td th:text="${sitio.getLocation().getCountry()} + '-' + ${sitio.getLocation().getCity()}"></td>
            <td th:text="${sitio.getLatitude()}"></td>
            <td th:text="${sitio.getLongitude()}"></td>
            <td><a class="btn btn-primary" th:href="@{'/sitios/edit' + '?id=' + ${sitio.getSiteID()}}">Editar</a>
            </td>
            <td><a class="btn btn-danger" th:href="@{'/sitios/delete' + '?id=' + ${sitio.getSiteID()}}">Borrar</a>
            </td>
          </tr>
        </table>
        <hr>
      </div>
    </main>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>