<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <p th:fragment="parrafo1">esto es un párrafo</p>
        <div th:fragment="fr2">
            <h1>Este es un título</h1>
        </div>
        <div class="table" th:fragment="shippersTable(titulo,lista)">
            <h4 class="text-primary" th:text="${titulo}">algo</h4>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Nombre de la compañia</th>
                    <th>Teléfono</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="shipper, info : ${lista}">
                    <td th:text="${info.index + 1}"></td>
                    <td th:text="${shipper.companyname}"></td>
                    <td th:text="${shipper.phone}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/shipper/edit' + '?id=' + ${shipper.shipperId}}">Editar</a>
                    </td>
                    <td><a class="btn btn-danger" th:href="@{'/shipper/delete' + '?id=' + ${shipper.shipperId}}">Borrar</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>